.RightTab {
  padding: 15px 20px;
  cursor: pointer;
  position: relative;
}
.RightTab p {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--white);
  margin-left: 20px;
}

.dashboard.active {
  background-color: var(--primaryGreen);
}
.inventory.active {
  background-color: var(--primaryGreen);
}
.reports.active {
  background-color: var(--primaryGreen);
}

.dropdown__icon {
  position: absolute;
  right: 20px;
}
